/* Universal Selector */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family:'Courier New', Courier, monospace;
}

/* Custom Variables */
:root {
    --white: #fff;
    --background: #131313;
    --blue: #2c5aff;
    --light-blue: #1fa4c9;
}

/* Header/Navbar Section */
.header {
    border-bottom: solid 2px var(--white);
    display: flex;
    justify-content: flex-end;
    height: 100px;
    background-color: var(--background);
    font-weight: bolder;
    z-index: 999;
}

.navbar {
    display: flex;
    align-items: center;
    font-size: 1.5rem;
}

.navbar ul {
    list-style: none;
    margin: 0 3rem;
    display: flex;
}

.navbar ul a{
    text-decoration: none;
    color: var(--white);
    margin-right: 4rem;
}

.navbar ul a:hover {
    cursor: pointer;
    background-image: linear-gradient(to top, var(--light-blue) 0%, var(--blue)100%);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
}

.title {
    color: var(--white);
    font-size: 4.2rem;
    margin-right: 30rem;
    background-image: linear-gradient(to top, var(--light-blue) 0%, var(--blue)100%);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
}

.fa-solid {
    margin-right: 2rem;
}

.my-name {
    background-image: linear-gradient(to left, rgb(195, 0, 0) 0%, rgb(167, 26, 255) 100%);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
}

.display {
    background-image: linear-gradient(to top, var(--light-blue) 0%, var(--blue)100%);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
}

/* Main Content Section */
.main {
    height: 90vh;
    background-color: var(--background);
    display: flex;
    flex-direction: row;
    color: var(--white);
}

.main .column-1 h1{
    font-size: 5rem;
    position: relative;
    top: 13rem;
    left: 15rem;
}

.main .column-2 {
    font-size: 1.5rem;
    position: relative;
    top: 14rem;
    left: 15rem;
}

.self-image img {
    position: absolute;
    height: 50%;
    width: 30%;
    top: 15rem;
    right: 20rem;
    border: 5px solid var(--white);
    border-radius: 10rem;
}

u {
    font-weight: bold;
}

/* Work Section */
.work {
    height: 80vh;
    color: var(--white);
    background-color: var(--background);
    border-top: 2px solid var(--white);
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    
}

.work h2 {
    font-size: 4rem;
    font-weight: bold;
    padding-right: 5rem;
    border-right: 2px solid var(--white);
}

.snapshot {
    width: 100%;
    height: 90%;
}

.work a{
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: bold;
    background-image: linear-gradient(to top, var(--light-blue) 0%, var(--blue)100%);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
}

.github-1 {
    border: 5px solid var(--white);
    height: 300px;
    width: 300px;
    position: relative;
    right: 10rem;
    bottom: 0.3rem;
    background-color: var(--white);
    z-index: 1;
}

.github-2 {
    border: 5px solid var(--white);
    height: 300px;
    width: 300px;
    position: relative;
    right: 10rem;
    background-color: var(--white);
    z-index: 1;
}

.github-3 {
    border: 5px solid var(--white);
    height: 300px;
    width: 300px;
    position: relative;
    right: 9.7rem;
    bottom: 0.3rem;
    background-color: var(--white);
    z-index: 1;
}

.github-4 {
    border: 5px solid var(--white);
    height: 300px;
    width: 300px;
    position: relative;
    right: 9.7rem;
    background-color: var(--white);
    z-index: 1;
}

/* Column Display */
.column-1 {
    display: flex;
    flex: 50%;
    justify-content: center;
    align-items: center;
}

.column-2 {
    display: flex;
    flex: 50%;
    justify-content: center;
    align-items: center;
}

/* Contact-me Section */
.contact-me {
    height: 20vh;
    color: var(--white);
    background-color: var(--background);
    border-top: 2px solid var(--white);
    width: 100%;
    display: flex;
    flex-direction: row;
}

.contact-me h2 {
    font-size: 4rem;
    font-weight: bold;
    padding-right: 5rem;
    border-right: 2px solid var(--white);
}

.contact-me p {
    font-size: 1.3rem;
    margin-right: 7rem;
    font-weight: bold;
}

.contact-me a {
    text-decoration: none;
    font-size: 1.3rem;
    font-weight: bold;
    color: var(--white);
    margin-right: 7rem;
}

.contact-me a:hover {
    background-image: linear-gradient(to top, var(--light-blue) 0%, var(--blue)100%);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
}

.fa-brands {
    padding-right: 0.5rem;
}

.fa-regular {
    padding-right: 0.5rem;
}

.underline {
    border-bottom: 2px solid var(--light-blue);
}

/* Footer Section */
footer {
    height: 5vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: var(--background);
    border-top: 2px solid var(--white);
    width: 100%;
}

footer h3{
    font-size: 1.3rem;
    color: var(--white);
}

/* For Smaller Screens */
@media screen and (max-width: 992px) {
    /* Header/Navbar Section */
    .header {
        text-align: center;
    }
    
    .navbar ul a{
        display: flex;
    }

    .title {
        font-size: 2.5rem;
        margin-right: 0.5rem;
        display: flex;
        justify-content: flex-start;
        align-items: center;
    }

    /* Main Content Section */
    .main {
        background-color: var(--background);
        color: var(--white);
    }

    .self-image img {
        position: absolute;
        top: 31rem;
        left: 23rem;
        height: 40%;
        width: 30%;
    }
    
    /* Work Section */
    .work {
        height: 90vh;
    }

    .work h2 {
        border-bottom: 2px solid var(--white);
        padding-right: 0;
        border-right: 0;
    }
    
    .github-1 {
        right: 0rem;
        bottom: 1rem;
    }
    
    .github-2 {
        right: 0rem;
    }
    
    .github-3 {
        right: 0rem;
        left: 1rem;
        bottom: 1rem;
    }
    
    .github-4 {
        right: 0rem;
        left: 1rem;
    }

    /* Contact-me Section */
    .contact-me {
        height: 20vh;
        display: block;
    }
    
    .contact-me h2 {
        border-right: 0;
        padding-right: 0;
        border-bottom: 2px solid var(--white);
        margin-bottom: 3rem;
    }
}

/* For smaller Screens */
@media screen and (max-width: 768px) {
    /* Header/Navbar Section */
    .header {
        text-align: center;
        justify-content: center;
        align-items: center;
        height: 15vh;
        display: flex;
        flex-direction: column;
    }
    
    .navbar ul a{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .title {
        font-size: 3rem;
        justify-content: center;
    }
    
    /* Main Content Section */
    .main {
        height: 90vh;
        background-color: var(--background);
        display: flex;
        flex-direction: row;
        color: var(--white);
    }
    
    .main .column-1 h1{
        font-size: 5rem;
        position: relative;
        top: 13rem;
        left: 6rem;
    }
    
    .main .column-2 {
        font-size: 1.5rem;
        position: relative;
        top: 14rem;
        left: 6rem;
    }
    
    .self-image img {
        position: absolute;
        height: 30%;
        width: 30%;
        top: 32rem;
        left: 17rem;
    }
    
    u {
        font-weight: bold;
    }

    /* Work Section */
    .work {
        height: 90vh;
    }
    
    .work h2 {
        border-bottom: 2px solid var(--white);
        padding-right: 0;
        border-right: 0;
    }
    
    .github-1 {
        right: 0rem;
        bottom: 1rem;
    }
    
    .github-2 {
        right: 0rem;
    }
    
    .github-3 {
        right: 0rem;
        left: 1rem;
        bottom: 1rem;
    }
    
    .github-4 {
        right: 0rem;
        left: 1rem;
    }

    /* Contact-me Section */
    .contact-me {
        height: 20vh;
        display: block;
    }
    
    .contact-me h2 {
        border-right: 0;
        padding-right: 0;
        border-bottom: 2px solid var(--white);
        margin-bottom: 3rem;
    }

    .contact-me p {
        margin: 0;
    }

    .contact-me a {
        margin: 0;
        margin-left: 2rem;
    }
}

@media screen and (max-width: 576px) {
    /* Header/Navbar Section */
    #header {
        overflow-x: hidden;
    }
    
    .header {
        height: 15vh;
        display: flex;
        flex-direction: column;
    }

    .navbar {
        position: relative;
        left: 2rem;
    }

    .navbar ul a{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .title {
        font-size: 3rem;
        justify-content: center;
    }
    
    /* Main Content Section */
    #main {
        margin-right: 0;
        padding-right: 0;
        border-right: 0;
    }
    
    .main {
        height: 90vh;
        background-color: var(--background);
        display: flex;
        flex-direction: row;
        color: var(--white);
    }
    
    .main .column-1 h1{
        font-size: 5rem;
        position: relative;
        top: 13rem;
        left: 3rem;
    }
    
    .main .column-2 {
        font-size: 1.2rem;
        position: relative;
        top: 14rem;
        left: 3rem;
    }
    
    .self-image img {
        position: absolute;
        height: 30%;
        width: 40%;
        top: 33rem;
        left: 11rem;
        border: 5px solid var(--white);
        border-radius: 10rem;
    }
    
    u {
        font-weight: bold;
    }

    /* Work Section */
    .work {
        height: 90vh;
    }
    
    .work h2 {
        border-bottom: 2px solid var(--white);
        padding-right: 0;
        border-right: 0;
    }
    
    .github-1 {
        right: 0.5rem;
        bottom: 1rem;
        height: 250px;
        width: 250px;
    }
    
    .github-2 {
        right: 0.5rem;
        height: 250px;
        width: 250px;
    }
    
    .github-3 {
        right: 0rem;
        left: 1rem;
        bottom: 1rem;
        height: 250px;
        width: 250px;
    }
    
    .github-4 {
        right: 0rem;
        left: 1rem;
        height: 250px;
        width: 250px;
    }

    /* Contact-me Section */
    .contact-me {
        height: 40vh;
        display: flex;
        flex-direction: column;
    }
    
    .contact-me h2 {
        border-right: 0;
        padding-right: 0;
        border-bottom: 2px solid var(--white);
        margin-bottom: 3rem;
    }

    .contact-me p {
        margin: 0;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .contact-me a {
        margin: 0;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .contact-me .column-2 {
        display: flex;
        flex-wrap: wrap;
    }

    .underline {
        border-bottom: none;
    }
}